.bg-almond { background: #F6E3CB; }
.bg-melon { background: #8CAA9C; }
.bg-rose { background: #B17287; }
.bg-success { background: #45755f !important; }
.text-success { color: #1A3547 !important;}
body {
  overflow: hidden;
}
.dashboard {
  max-height: 98vh;
  overflow: auto;
}
.dashboard::-webkit-scrollbar {
  display: none;
}
.btn-outline-success:hover, .btn-outline-success:focus {
  background-color: #45755f !important;
}
.nav {
  /* height: 100vh !important; */
  color: #455275 !important;
}