
:root {
--main-color: rgb(154, 200, 240);
--main-text-color: rgb(24, 24, 83);
--bg-cream: #fff4d8;
}

.bg-cream {
background: #e8fcf3;
}
.bg-nav {
    background: linear-gradient(#ffffff, #fff4d8);
}
.text-gray {
    color:rgba(128, 128, 128, 0.5) !important;
}
.bg-footer{
    background: linear-gradient(#fff4d8, #ffffff);
}
.bg-lb {
background: #c5cbe3;
}
.bg-main {
background: var(--main-color) !important;
}
.text-main {
color: var(--main-text-color) !important;
}

body {
overflow: hidden;
background: var(--bg-cream);
position: absolute;
/* z-index: -5 !important; */
}
.dashboard {
height: 100vh;
overflow: auto;
}
.dashboard::-webkit-scrollbar {
display: none;
}
.btn-outline-success:hover,
.btn-main,
.btn-outline-success:focus {
background-color: var(--main-color) !important;
}
.btn-outline-main {
border-color: var(--main-color);
color: var(--main-text-color);
}
.nav {
/* height: 100vh !important; */
color: #455275 !important;
}
.grow,
.grow-2 {
cursor: pointer;
transition: all 0.5s;
}
.grow:hover {
transform: scale(1.03);
border: 2px solid var(--main-text-color);
background-color: rgb(222, 243, 255) !important;
}
.grow-2:hover {
transform: scale(1.3);
}

@media (max-width: 600px) {
.nav {
    height: 10vh;
}
.dashboard {
    height: 80vh;
}
}
